
/* 
https://divtable.com/table-styler/
*/

/*
table, th, td {
    border: 1px solid black;
  }
*/


table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  white-space: nowrap;
}
table.greyGridTable td, table.greyGridTable th {
  border: 0px solid #FFFFFF;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
  color: #000000;
}
table.greyGridTable tr:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
  font-size: 14px;
}


/*
.tg {
  border-collapse:collapse;
  border-spacing:0;
  border-color:#ccc;
}
.tg td {
  font-family:Calibri, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#fff;
}
.tg th {
  font-family:Calibri, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#f0f0f0;
}
.tg .tg-j4kc {
  background-color:#efefef;
  text-align:center
}
.tg .tg-ud5c {
  background-color:#efefef;
  text-align:right;
  width:1%;
  white-space: nowrap;
}
p.italic {
  font-style: italic
}

*/